{% extends 'base.html' %}

{% block title %}
    <title>添加书籍</title>
{% endblock title %}

{% block head %}
    <li><a href="/books/">查看书籍</a></li>
    <li><a href="/addbook/">添加书籍</a></li>
{% endblock head %}

{% block body %}
    {{ block.super }}
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <label for="">书籍名称</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div>
            <label for="">价格</label>
            <input type="text" class="form-control" name="price">
        </div>
        <div>
            <label for="">出版日期</label>
            <input type="date" class="form-control" name="date">
        </div>
        <div>
            <label for="">出版社</label>
            <input type="text" class="form-control" name="publish">
        </div>
        <input type="submit" class="btn btn-success pull-right ">
    </form>
{% endblock body %}